<title>Whirl Fanzine</title>
<h4>User Zines</h4>
<br>
<ul>
  <% @users.each do |user| %>
   
    <% user.zines.each do |zine| %>
      <li><a href="/zines/<%= zine.id %>"><% zine.title %></a></li>
      <% end %>
  <% end %>
</ul>
<br>



