<h3>Create a new fanzine</h3>

<form action="/zines" method="POST">
<br>

<input type="text" name="zine[title]" id="title" placeholder="Title:">
<br><br>

<input type="text" name="zine[creator]" id="creator" placeholder="Creator:">
<br><br>

<input type="text" name="zine[content]" id="content" placeholder="Content:">
<br><br>

<input type="submit" value="Submit">

</form>