<% if flash.has?(:message) %> <%= flash[:message] %> <% end %>

<h1>Welcome to Whirl Fanzine</h1>
<h3>Fanzines<h3>
<br>

<ul>
  <% @zines.each do |zine| %>

    <li><a href="/zines/<%= zine.id %>"><%= zine.title %></a></li>
    <br>
  <% end %>
</ul>

<p><a href="/zines/new">Create a new Fanzine</a></p>

<p><a href="/logout">Log Out</a></p>