<h1>Welcome</h1>
<h3>Available Fanzines<h3>
<br>

<ul>
  <% @zines.each do |zine| %>
    <h4><em><%=zine.title%></em></h4>
    <li><em><%=zine.creator%></em></li>
    <li><em><%=zine.content%></em></li>
    <br>
  <% end %>
</ul>

<p><a href="/zines/new">Create a new Fanzine</a></p>

<p><a href="/logout">Log Out</a></p>